@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
    text-align: center;
    padding: 0;
    margin: 0;
    background: #222222;
    font-family: 'Roboto Mono', monospace;
    color: white;
}

img,
a {
    margin: 0;
    padding: 0;
}

.track{
    width: 20%;
}

.profile_picture{
    margin-top: 10px;
    --fixed: 110px;
    width: var(--fixed);
    height: var(--fixed);
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.2));
    border-radius: 999px;
}

#main_body {
    display: flex;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
}

.share_button {
    position: fixed;
    bottom: 2%;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));
    z-index: 1;
}


a {
    color: white;
    height: 0 !important;
    width: 0 !important;
}

@media screen and (max-width: 768px) {
    .track{
        width: 50%;
    }
}

@media screen and (max-width: 425px) {
    .track{
        width: 100%;
    }
}