@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
    text-align: center;
    margin: 0;
    padding: 0;
    background: #222222;
    font-family: 'Roboto Mono', monospace;
    color: white;
}

img,
a {
    margin: 0;
    padding: 0;
}

#main_body {
    display: grid;
    grid-template-columns: repeat(5, 20%);
}

img {
    max-width: 100%;
}

a {
    color: white;
    height: 0 !important;
    width: 0 !important;
}

@media screen and (max-width: 600px) {
    #main_body {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-gap: 5px;
    }
}

@media screen and (max-width: 400px) {
    #main_body {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 5px;
    }
}